<div style="background-color: #f0f0f0;min-height: 100vh;padding-top: 100px;">

    <div style="width: 400px;
        margin: 0 auto;
        padding: 30px 20px;
        background-color: #fff;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content:
        center;align-items: center;">

        <span style="color: black;font-size: 24px;font-weight: 400">Verify your Registration</span>

        <p style="font-size: 16px;color: black;margin-top: 10px;">Your one-time verification code to register in Urchin
            Article is:</p>

        <span
            style="font-size: 20px;color: blueviolet;font-weight: bold;margin-top: 20px;margin-bottom: 30px;">{{vericode}}</span>

        <p style="font-size: 16px;color: black;">This email was sent to {{email}}, you're receiving this because you are
            signing up in Urchin Article.</p>

    </div>
    <p
        style="width: 400px;margin: 0 auto;line-height: 50px;height: 50px;background-color: rgba(0, 0, 0, 0.8);color: white;font-size: 18px;font-weight: 400;padding-left: 20px;box-sizing: border-box;">
        Please do not reply to this email.</p>
</div>